body {
    background: #f7f7fc;
}

.carousel-item {
    min-height: auto; /* permite crecer verticalmente */
}

.slider-title {
    font-size: auto;
}

.slider-qty {
    font-size: auto;
}

.card-slider {
    min-width: 200px;
}
.card-slider {
    height: auto !important;
}

.modal-content {
    background: #1a233a !important;
}

.modal-body {
    color: #fff !important;
}

@media (max-width: 768px) {
    .slider-qty {
        font-size: 2rem;
    }
}

:root {
    /* valor por defecto (pantallas medianas) */
    --filas-visibles: 4;
}

@media (max-width: 767.98px) {

    /* móviles */
    :root {
        --filas-visibles: 4;
    }
}

@media (min-width: 1400px) {

    /* desktops grandes */
    :root {
        --filas-visibles: 7;
    }
}

/* Opcional: aumentar tamaño de fuente en pantallas grandes */
@media (min-width: 1200px) {

    #tablaAtencion td,
    #tablaAtencion th {
        font-size: 1.1rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}

:root {
  --colas-por-slide: 2;
}

@media (min-width: 1400px) {   /* pantallas grandes */
  :root {
    --colas-por-slide: 3;
  }
}

@media (min-width: 1200px) {
  .slider-title {
    font-size: 1.4rem;
  }

  .slider-qty {
    font-size: 3rem;
  }
}

/* Modo "pantalla completa" simulado */
body.video-expand-active {
  overflow: hidden; /* quita scroll al expandir el video */
}

body.video-expand-active #videoPlayList {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;          /* por encima de todo */
  border: none;
}